<div ng-controller="roomCtrl">
    <h2>Room Modification</h2>
    <div id="createRoom">
        <form class="formRoom" ng-submit="createRoom()">
            <h3>Create a room :</h3></br></br></br>
            <input type="text" ng-model="roomNumber" name="roomNumber" placeholder="Room Number"/></br>
            <input type="text" ng-model="roomType" name="roomType" placeholder="Room Type"/></br>
            <input type="text" ng-model="roomDimension" name="roomDimension" placeholder="Room Type"/></br></br>
            <input type="submit" class="submit" value="Create New Room" />
        </form>
    </div>
    <div id="readRoom">
        <form class="formRoom" ng-submit="readRoom()">
            <h3>Retrieve a room :</h3></br></br></br>
            <input type="text" ng-model="idRoom" name="idRoom" placeholder="Room id"/></br></br>
            <input type="submit" class="submit" value="Read Existing Room" />
        </form>
    </div>
    <div id="updateRoom">
        <form class="formRoom" ng-submit="readRoomToUpdate()">
            <h3>Retrieve a room to Update :</h3>
            <input type="text" ng-model="idRoomU" name="idRoomU" placeholder="Room id"/></br></br>
            <input type="submit" class="submit" value="Select a room to Update" />
        </form></br></br>
        <form class="formRoom" ng-submit="updateRoom()">
            <h3>Update a room :</h3></br>
            <input type="text" ng-model="roomNumberU" name="roomNumberU" placeholder="{{roomNumberToUpdate}}"/></br>
            <input type="text" ng-model="roomTypeU" name="roomTypeU" placeholder="{{roomTypeToUpdate}}"/></br>
            <input type="text" ng-model="roomDimensionU" name="roomDimensionU" placeholder="{{roomDimensionToUpdate}}"/></br></br>
            <input type="submit" class="submit" value="Update Room" />
        </form>
    </div>
    <div id="deleteRoom">
        <form class="formRoom" ng-submit="deleteRoom()">
            <h3>Delete a room :</h3></br></br></br>
            <input type="text" ng-model="idRoomD" name="idRoomD" placeholder="Room id"/></br></br>
            <input type="submit" class="submit" value="Delete Room" />
        </form>
    </div>
</div>