<div ng-controller="customerCtrl">
    <h1>Hello customer</h1>
    <div id="createCustomer" method="GET">
        <form ng-submit="createCustomer()">
            Customer creation:
            <input type="text" ng-model="firstname" name="firstname" placeholder="Firstname"/>
            <input type="text" ng-model="lastname" name="lastname" placeholder="Lastname"/>
            <input type="submit" class="submit" value="Create New Customer" />
        </form>
    </div>
    <div id="readCustomer" method="GET">
        <form ng-submit="readCustomer()">
            Retrieve a customer:
            <input type="text" ng-model="idCustomer" name="idCustomer" placeholder="Customer id"/>
            <input type="submit" class="submit" value="Read Existing Customer" />
        </form>
    </div>
    <div id="updateCustomer" method="GET">
        <form ng-submit="updateCustomer()">
            Update a customer:
            <input type="text" ng-model="firstnameU" name="firstnameU" placeholder="Firstname"/>
            <input type="text" ng-model="lastnameU" name="lastnameU" placeholder="Lastname"/>
            <input type="submit" class="submit" value="Update Customer" />
        </form>
    </div>
    <div id="deleteCustomer"method="GET">
        <form ng-submit="deleteCustomer()">
            Delete a customer:
            <input type="text" ng-model="idCustomerD" name="idCustomerD" placeholder="Customer id"/>
            <input type="submit" class="submit" value="Delete Customer" />
        </form>
    </div>
</div>