<div ng-controller="customerCtrl">
    <h2>Customer Modification</h2>
    <div id="createCustomer">
        <form class="formCustomer" ng-submit="createCustomer()">
            <h3>Customer creation :</h3></br></br></br>
            <input type="text" ng-model="firstname" name="firstname" placeholder="Firstname"/></br>
            <input type="text" ng-model="lastname" name="lastname" placeholder="Lastname"/></br></br>
            <input type="submit" class="submit" value="Create New Customer" />
        </form>
    </div>
    <div id="readCustomer">
        <form class="formCustomer" ng-submit="readCustomer()">
            <h3>Retrieve a customer :</h3></br></br></br>
            <input type="text" ng-model="idCustomer" name="idCustomer" placeholder="Customer id"/></br></br>
            <input type="submit" class="submit" value="Read Existing Customer" />
        </form>
    </div>
    <div id="updateCustomer">
        <form class="formCustomer" ng-submit="readCustomerToUpdate()">
            <h3>Retrieve a customer To Update :</h3>
            <input type="text" ng-model="idCustomerU" name="idCustomerU" placeholder="Customer id"/></br></br>
            <input type="submit" class="submit" value="Select a customer to Update" />
        </form></br></br>
        <form class="formCustomer" ng-submit="updateCustomer()">
            <h3>Update a customer :</h3></br>
            <input type="text" ng-model="firstnameU" name="firstnameU" placeholder="{{customerFirstnameToUpdate}}"/></br>
            <input type="text" ng-model="lastnameU" name="lastnameU" placeholder="{{customerLastnameToUpdate}}"/></br></br>
            <input type="submit" class="submit" value="Update Customer" />
        </form>
    </div>
    <div id="deleteCustomer" >
        <form class="formCustomer" ng-submit="deleteCustomer()">
            <h3>Delete a customer :</h3></br></br></br>
            <input type="text" ng-model="idCustomerD" name="idCustomerD" placeholder="Customer id" /></br></br>
            <input type="submit" class="submit" value="Delete Customer" />
        </form>
    </div>
</div>