#createBooking{
    height: 400px;
    width: 250px;
    position:absolute;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 20px;
    background-image:linear-gradient(white 60%, #6666FF);
}

#readBooking{
    height: 400px;
    width: 250px;
    position:absolute;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 280px;
    background-image:linear-gradient(white 60%, grey);
}

#updateBooking{
    height: 400px;
    width: 250px;
    position:absolute;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 540px;
    background-image:linear-gradient(white 60%, #6666FF);
}

#deleteBooking{
    height: 400px;
    width: 250px;
    position:absolute;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 800px;
    background-image:linear-gradient(white 60%, grey);
}

#readAllBooking{
    height: 400px;
    width: 250px;
    position:absolute;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 1060px;
    background-image:linear-gradient(white 60%, #6666FF);
}

.formBooking{
    margin-left: 20px;
}

#bookingListLink{
    position: relative;
    margin-left: 950px;
}

table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 5px;
}
td {
    margin-left: 10px;
}

.bookingTable tr:nth-child(odd) {background: #99CCFF}
.bookingTable tr:nth-child(even) {background: #FFF}
