<div ng-controller="bookingCtrl">
    <h1>Booking Modification</h1>
    <div id="createBooking" method="GET">
        <form ng-submit="createBooking()">
            Booking Creation:
            <input type="text" ng-model="bookingName" name="bookingName" placeholder="Booking Name"/>
            <input type="text" ng-model="arrivalDate" name="arrivalDate" placeholder="Arrival Date dd/mm/yyyy"/>
            <input type="text" ng-model="departureDate" name="departureDate" placeholder="Departure Date dd/mm/yyyy"/>
            <input type="submit" class="submit" value="Create New Booking" />
        </form>
    </div>
    <div id="readBooking" method="GET">
        <form ng-submit="readBooking()">
            Retrieve a booking:
            <input type="text" ng-model="idBooking" name="idBooking" placeholder="Booking id"/>
            <input type="submit" class="submit" value="Read Existing Booking" />
        </form>
    </div>
    <div id="updateBooking" method="GET">
        <form ng-submit="updateBooking()">
            Update a booking:
            <input type="text" ng-model="bookingNameU" name="bookingNameU" placeholder="Booking Name"/>
            <input type="text" ng-model="arrivalDateU" name="arrivalDateU" placeholder="Arrival Date dd/mm/yyyy"/>
            <input type="text" ng-model="departureDateU" name="departureDateU" placeholder="Departure Date dd/mm/yyyy"/>
            <input type="submit" class="submit" value="Update Booking" />
        </form>
    </div>
    <div id="deleteBooking"method="GET">
        <form ng-submit="deleteBooking()">
            Delete a booking
            <input type="text" ng-model="idBookingD" name="idBookingD" placeholder="Booking id"/>
            <input type="submit" class="submit" value="Delete Booking" />
        </form>
    </div>
    <div id="readAllBooking"method="GET">
        <form ng-submit="readAllBooking()">
            Select All Booking:
            <input type="submit" class="submit" value="Select All Booking" />
        </form>
    </div>
</div>